<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout2Practice</title>
    <link rel="stylesheet" href="layout2Prac.css">
</head>
<body>
    <div class="main">
    
    <div class="header col1"><h1>Header Section</h1></div>
    
    <div class="row">
        <div class="nav col2"><h1>Navigation Section</h1></div>
    </div>
    
    <div class="row">
        <div class="banner col5"><h1>Banner Section</h1></div>
    </div>
    
    <div class="row">
        <div class="box-l col3 fl"><h1>Box Left Section</h1></div>
        <div class="box-r col4 fr"><h1>Box Right Section</h1></div>
        <div class="clr"></div>
    </div>
    
    <div class="row">
        <div class="footer col5"><h1>Footer Section</h1></div>
    </div>
    
    </div>
    </body>
</html>