*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    background-color: aquamarine;
    text-align: center;
    text-decoration: none;
    color: red;
    margin-left: 35rem;
}
a:hover{
    background-color: black;
    color: aqua;
    font-size: 1.5rem;
}